{%extends 'main.html'%}
{%block content%}
<style>
    .container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="container">
    <div>
        <h3>{{rooms.name}}</h3>
        <h3>{{room.description}}</h3>
        {% for message in messages%}
            <div>
                {% if request.user == message.user %}
                <h4><a href="{%url 'delete-message' message.id %}">Delete</a> </h4>
                {% endif %}
                <p>@{{message.user}} {{message.created|timesince}} </p>
                <h3>{{message.body}} </h3>
                <hr/>
            </div>
        {% endfor %}
        {% if request.user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Write your message" name="body" />
        </form>
        {%endif%}
    </div>
    <div>
        <h3>Participants</h3>
        {% for participant in participants%}
            <h4> @{{participant.username}} </h4>
        {% endfor %}
    </div>
</div>
{%endblock content%}